body, html {
    background: rgb(222,222,222);
    margin: 0px;
    font: 15px 微软雅黑;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto !important;
}

.header {
    background: rgb(51,51, 51);
    height: 60px;
}

    .header img {
        float: left;
        padding-left: 30px;
    }

    .header ul {
        float: right;
    }

        .header ul li {
            float: left;
            display: inline-block;
            padding: 0px 10px;
            *display: inline;
            *zoom: 1;
        }

    .header a {
        color: white;
        text-decoration: none;
    }

        .header a:hover {
            color: #ff6a00;
        }

.container {
    height: auto;
    padding-bottom: 60px;
}

.left {
    float: left;
    width: 100%;
}

.content {
    margin-right: 400px;
}


/*article*/
article {
    background: #fff;
    margin: 22px;
    padding: 20px;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
}

    article h2 {
        line-height: 30px;
    }

    article h3 {
        line-height: 15px;
        color: #888888;
    }

    article address {
        line-height: 10px;
        font: 10px;
        font-style: normal;
        color: #888888;
    }

    article p {
        text-indent: 2em;
        line-height: 30px;
    }

    article img {
        padding: 10px 0px 0px;
    }

.nav ul > li {
    list-style: none;
    line-height: 30px;
}

.picture-list li {
    float: left;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(200,200,200);
    *display: inline;
    *zoom: 1;
}

.picture-list img {
    width: 100px;
    height: 80px;
}


article dl dd {
    display: block;
    width: 125px;
    border: 1px solid rgb(200,200,200);
    text-align: center;
    margin: 10px 40px;
    padding: 10px 0px;
}

    article dl dd img {
        width: 100px;
        height: 80px;
    }

article ol li {
    line-height: 30px;
}

/*table*/
.task_table {
    border: 1px solid rgb(200,200,200);
    border-collapse: collapse;
    width: 100%;
}

    .task_table tbody {
        font-size: 13px;
    }

    .task_table tr, th, td {
        padding: 2px 5px;
    }

    .task_table thead {
        background: rgb(51,51, 51);
        color: white;
        text-align: left;
    }

    .task_table tfoot {
        background: rgb(204,204,204);
        font-weight: 700;
    }



.register {
    float: right;
    width: 420px;
    position: relative;
    margin-left: -420px;
}
/*aside*/
aside {
    background: #fff;
    margin: 22px;
    padding: 20px;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
}

    aside h3 {
        line-height: 40px;
        padding: 0px 20px;
        border-left: 4px solid rgb(204,204,204);
    }

.task_form {
    width: 100%;
}

    .task_form table {
        width: 100%;
    }

        .task_form table tr, td, th {
            padding: 5px;
            font-size: 13px;
        }

        .task_form table th {
            width: 40%;
            font-weight: 100;
            font-style: normal;
            text-align: right;
        }

        .task_form table textarea {
            width: 200px;
            height: 100px;
        }

    .task_form #taskSubmit {
        width: 100%;
        height: 40px;
        background: rgb(51,85,208);
        color: white;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        border: 5px solid rgb(48,89,195);
    }

footer {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    background: #000;
    line-height: 60px;
    color: white;
    font-size: 12px;
    text-align: center;
}


.clear {
    clear: both;
    zoom: 1;
}
